<script src="/js/songs.js"></script>
{{#if songs.length}}
    <table class="songs-table scrollable">
        <thead>
        <tr class="songs-header">
            <th><span>&nbsp;</span></th>
            <th><span>名前</span></th>
            <th><span>時間</span></th>
            <th><span>アーティスト</span></th>
            <th><span>アルバム</span></th>
            <th><span>ジャンル</span></th>
        </tr>
        </thead>
        <tbody>
        {{#each songs}}
            <tr class="songs-data" data-songindex="{{@index}}" data-songid="{{song_id}}">
                <th class="th-icon"><span class="songs-icon" data-content="&nbsp;&nbsp;"></span></th>
                <th><span class="songs-title">{{title}}</span></th>
                <th class="th-length"><span class="songs-length">{{min}}:{{sec}}</span></th>
                <th><span class="songs-artist">{{artist}}</span></th>
                <th><span class="songs-album" data-albumid="{{album_id}}">{{name}}</span></th>
                <th class="th-genre"><span class="songs-genre">{{genre}}</span></th>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <div style="text-align: center; font-size: 20px; margin-top: 40vh">
        曲がありません
    </div>
{{/if}}